@import "_colors.scss";

.instruction-block {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  margin: 0.4em;
  background-color: $turquoise;
  text-align: center;
  cursor: pointer;
}
