<div class="parent">

  <div class="box-wrap">
    <h2>Instruction set</h2>
    <div class="box half-padding">
    <div class="instruction-list" dragula="program-editor" [(dragulaModel)]="instructionSet" id="instruction-set">
      <app-instruction
        *ngFor="let i of instructionSet"
        [@instruction]="i"
        class="instruction-block"
        (click)="addInstruction(i)"
      >
      </app-instruction>
    </div>
    </div>
  </div>

  <div class="box-wrap">
    <div class="box-header">
      <h2>Program memory</h2>
      <div class="box-controls">
        <button (click)="program.instructions = []" class="box-control">Clear</button>
      </div>
    </div>
    <div class="box half-padding">
      <div class="instruction-list" dragula="program-editor" [(dragulaModel)]="program.instructions">
        <app-instruction
          *ngFor="let i of program.instructions"
          [@instruction]="i"
          class="instruction-block"
        >
        </app-instruction>
      </div>
    </div>
  </div>

</div>
