<div class="parent">

  <div class="box-wrap">
    <h2 class="color-green">Instruction set</h2>
    <div class="box instruction-list" dragula="program-editor" [(dragulaModel)]="instructionSet" id="instruction-set">
      <app-instruction
        *ngFor="let i of instructionSet"
        [@instruction]="i"
        class="instruction-block"
        (click)="addInstruction(i)"
      >
      </app-instruction>
    </div>
  </div>

  <div class="box-wrap">
    <h2 class="color-green">Program memory</h2>
    <div class="box w-1 instruction-list" dragula="program-editor" [(dragulaModel)]="program.instructions">
      <app-instruction
        *ngFor="let i of program.instructions"
        [@instruction]="i"
        class="instruction-block"
      >
      </app-instruction>
    </div>
  </div>

</div>
