<div class="wrapper">

  <div class="column">
    <h2>Environment</h2>
    <div class="box-wrap">
      <div class="box">
        <app-environment [@environment]="environment"></app-environment>
        <div class="machine-state">
          State:&nbsp;
          <span *ngIf="state === State.ready">Ready</span>
          <span *ngIf="state === State.running">Running</span>
          <span *ngIf="state === State.finished">Finished</span>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="box-header">
      <h2>Scenario</h2>
      <div class="box-controls">
        <select [(ngModel)]="selectedLevel">
          <option *ngFor="let l of LEVELS" [ngValue]="l">Level {{ l.id }}</option>
        </select>
        <button (click)="loadLevel(selectedLevel)">Load</button>
      </div>
    </div>
    <div class="box-wrap">
      <div class="box">
        <h3>{{ level.title }}</h3>
        <p *ngFor="let p of level.description" [innerHTML]="p"></p>
      </div>
    </div>

    <div [hidden]="result !== Result.success">
      <div class="box-header">
        <h2>Results</h2>
      </div>
      <div class="box-wrap">
        <div class="box">
          <h3>Success!</h3>
          <p>You did it! ✨</p>
          <div class="controls">
            <button *ngIf="nextLevel" (click)="loadLevel(nextLevel)" class="button-big">Continue to next level</button>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="result === Result.success">
      <app-program-editor [@instructionSet]="instructionSet" [@program]="program"></app-program-editor>
      <div class="controls">
        <button (click)="runProgram()" class="button-big">Run program</button>
        <button (click)="resetEnvironment()" class="button-big button-secondary" style="margin-left: 1em;">Reset starting conditions</button>
      </div>
    </div>
  </div>

</div>

<!-- <router-outlet></router-outlet> -->
