<div class="environment">
  <div class="grid">
    <app-robot [@robot]="environment.player" type="player"></app-robot>
    <app-robot *ngFor="let enemy of environment.enemies" [@robot]="enemy" type="enemy"></app-robot>
    <div
      class="object battery"
      [ngStyle]="{
        'left.px': environment.winPos.x * 100,
        'top.px': environment.winPos.y * 100
      }"
    >
    </div>
    <div *ngFor="let row of environment.tiles" class="row">
      <div *ngFor="let tile of row" class="tile"></div>
    </div>
  </div>
</div>
