/* You can add global styles to this file, and also import other style files */
body {
  background: #242322;
  color: #dadada;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
}
