$black: #0D0C0C;
$blackish: #242322;
$blueish-gray: #232931;
$gray: #3B3B3B;
$blue: rgba(5, 102, 141, 1);
$turquoise: rgba(2, 128, 144, 1);
$dark-green: rgba(0, 168, 150, 1);
$green: rgba(2, 195, 154, 1);
$yellow: rgba(240, 243, 189, 1);
$white: #dadada;
$red: #ff4b4b;
