@import "colors";

.environment {
  display: flex;
  justify-content: center;

  .grid {
    position: relative;
    display: table;
    border: 2px solid $black;
  }
  .row {
    display: table-row;
  }
  .tile {
    display: table-cell;
    width: 100px;
    height: 100px;
    border: 1px solid $black;
  }
}

.object{
  position: absolute;
  left: 0;
  top: 0;
}

.battery {
  width: 100px;
  height: 100px;
  mask: url('../images/battery.svg') no-repeat center center;
  mask-size: 40%;
  background-color: $green;
}
