@import "colors";

.instruction-block {
  display: flex;
  float: left;
  width: 75px;
  height: 75px;
  margin: 7px;
  background-color: $blue;
  text-align: center;
  cursor: grab;
  justify-content: center;
  align-items: center;

  &.non-editable{
    cursor: no-drop;
  }
}

.instruction-block-inner {
  width: 100%;
  height: 100%;
  opacity: 0.75;

  &.move-forward {
    background: url('../images/move-forward.png') no-repeat center center;
    background-size: cover;
  }
  &.move-sprint {
    background: url('../images/move-sprint.png') no-repeat center center;
    background-size: cover;
  }
  &.move-backward {
    background: url('../images/move-backward.png') no-repeat center center;
    background-size: cover;
  }
  &.turn-left {
    background: url('../images/turn-left.png') no-repeat center center;
    background-size: cover;
  }
  &.turn-right {
    background: url('../images/turn-right.png') no-repeat center center;
    background-size: cover;
  }
  &.turn-around {
    background: url('../images/turn-around.png') no-repeat center center;
    background-size: cover;
  }
  &.sleep {
    background: url('../images/sleep.png') no-repeat center center;
    background-size: cover;
  }
}
