@import "shared";
@import "colors";

.ilw-flex {
  display: flex;
  justify-content: space-between;

  .clear-button {
    margin-top: 3px;
    height: min-content;
  }
}
.instruction-list {
  display: table;
  width: 100%;
  height: 75px + $standard-padding;
}


