.robot {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease;

  mask: url('../images/robot.svg') no-repeat center center;
  mask-size: 70%;
  background-color: $white;

  &.player {
    background-color: $green;
  }
  &.enemy {
    background-color: $yellow;
  }
}
