@import "colors";

body {
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
}
h2 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.color-green {
  color: $green;
}
