@import "colors";

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.42em;
  color: $white;
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
}
h2 {
  margin: 0.83em 0;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $green;
}
h3 {
  margin: 0 0 0.83em 0;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: inherit;
}
p {
  margin-top: 0.7em;
}
.color-green {
  color: $green;
}
.color-dark-green {
  color: $green;
}
.bubble {
  display: block;
  padding: 8px 12px;
  background: $dark-grey;
}
