/* Reset browser defaults */
@import "normalize";

/* Third party libraries */
@import "dragula";

/* Add a splash of color */
@import "colors";

/* Finally, our components */
@import "gameboard";
@import "program-editor";
@import "instruction-block";
@import "player";

body {
  background: $blackish;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
}
div {
  box-sizing: border-box;
}
