/* Reset browser defaults */
@import "reset";

/* Utilities */
@import "svg-utils";

/* Third party libraries */
@import "dragula";

/* Set up some basics */
@import "colors";
@import "typography";
body {
  margin: 1em 0 0;
  background: $blackish;
}
div {
  box-sizing: border-box;
}
code {
  color: $turquoise;
}

/* Styles shared between our components */
@import "shared";

/* Finally, our components */
@import "environment";
@import "program-editor";
@import "instruction-block";
@import "player";
